// nib
@require 'include/nib/index'
vendors = webkit moz official

// normalize
normalize-css()

// reset
global-reset()
@require 'include/reset'

@require 'include/rule'

@require 'include/animate'

@require 'include/stage'