.alert
  position relative
  display block
  margin 4px auto
  padding 8px
  background-color #d9edf7
  color #31708f
  text-align left
  font-size 13px
  line-height 1.4

  &.success
    background-color #dff0d8
    color #3c763d

  &.info
    background-color #d9edf7
    color #31708f

  &.warning
    background-color #fcf8e3
    color #8a6d3b

  &.danger, &.error
    background-color #f2dede
    color #a94442