.btn
  display block
  background-color $color-main
  color #fff
  border 0
  border-bottom 2px solid $color-main - 20%
  border-radius 4px
  padding 0.5em 1em
  font-size inherit
  cursor pointer
  text-align center
  box-sizing border-box

  &:active
    background-color $color-main - 10%
    border-color $color-main - 30%

  .group &
    display inline-block

  &.white, &.gray
    background-color #fff
    color #999
    border 0
    border-radius 0
    &:active
      background-color #fafafa

  &.gray
    background-color #eee
    color #666
    &:active
      background-color #ddd

  .icon
    margin-right 0.2em