// color of type
$color-primary = #0074cc
$color-success = #5bb75b
$color-info = #3498db
$color-warning = #e67e22
$color-danger = #e74c3c
$color-debug = #9b59b6
// better web color
$navy = #001f3f
$blue = #3498db
$aqua = #7fdbff
$teal = #39cccc
$olive = #3d9970
$green = #2ecc40
$lime = #01ff70
$yellow = #ffdc00
$orange = #ff851b
$red = #ff4136
$fuchsia = #f012be
$purple = #b10dc9
$maroon = #85144b
$white = #ffffff
$silver = #dddddd
$gray = #aaaaaa
$black = #111111