.page
  width 100%
  height 100%
  left 0
  top 0
  transform translateZ(0)
  background-color #fff
  position absolute
  backface-visibility hidden
  overflow hidden

  .status-shadowed &
    > .content
      overflow-y hidden

  > .content
    width 100%
    height 100%
    transform translateZ(0)
    overflow-x hidden
    overflow-y scroll
    -webkit-overflow-scrolling touch
    background-color #fafafa
    margin 0 auto
    position relative