#puller
  size 64px
  position absolute
  top 48px
  left 50%
  margin-left -@width * 0.5
  pointer-events none
  z-index 1
  opacity 0

  &:after
    content '向下滑动'
    display block
    size 100%
    color #fff
    font-size 12px
    line-height 64px
    text-align center
    position relative
    z-index 1

  &.direction-left
    top 144px
    left auto
    right 48px

    &:after
      content '向左滑动'

  &.direction-right
    top 144px
    left 48px
    right auto

    &:after
      content '向右滑动'

  &.direction-up
    top auto
    bottom 48px

    &:after
      content '向上滑动'

  &.status-active

    &:after
      content attr(title)

    div
      background-color $color-main

  div
    size 100%
    background-color #333
    border-radius 4px
    position absolute
    transform rotate(45deg)
    transition background-color 250ms $ease