.container
  width 100%
  height 100%
  overflow hidden
  position relative

.wrapper
  width 100%
  height 100%
  position relative
  white-space nowrap
  font-size 0

  .content
    display inline-block
    white-space normal

  .placeholder
    display inline-block
    width 100%
    height 100%