/*
 * Support for ie defaulting to true.
 */

// support-for-ie ?= true
support-for-ie ?= false

/*
 * Default vendor prefixes.
 */

// vendor-prefixes ?= webkit moz o ms official
vendor-prefixes ?= webkit moz official